button:hover{
     background-color: rgb(141, 99, 175);
     cursor: not-allowed;
}
button:active{
transform:scale(0.80) ;
}
input {
    padding: 10px;
    width: 250px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin-top: 10px;
}
h1 {
    color: darkblue;
    
}

h2 {
    margin-top: 30px;
    color: #333;
}
button:hover{
     background-color: green;
     cursor:grabbing;
}
body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f2f2f2;
    cursor: url("cr.webp"),auto;
}
